#!/bin/bash

[[ "$android_dir" == "" ]] && export android_dir=~/android/system
[[ "$patch_dir" == "" ]] && export patch_dir=$script_dir/../patches
[[ "$patch_filename_prefix" == "" ]] && export patch_filename_prefix=
[[ "$git_branch" == "" ]] && export git_branch=brickbug-aftermath

function project_list {
    $1  device_samsung_galaxys2-common.patch    device/samsung/galaxys2-common
    $1  kernel_samsung_smdk4412.patch           kernel/samsung/smdk4412
}

